@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --mainGray: #eaeaea;
  --mainWhite: #fff;
  --mainBlack: #3f3f3f;
  --darkGray: #696969;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--mainGray);
}