.posts {
  padding: 4rem 0;
}
.posts h1 {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 48px;
}

.center {
  width: 85vw;
  margin: 0 auto;
  max-width: 750px;
}
